.container{
    margin-top: 2%;
    
}
.wrap{
    border:1px solid black;
    padding:3%;
}
em{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3em;
    color:rgb(33, 54, 172);
    text-align: center;
}
h3{
    margin-top: 2%;
    
}
i{font-size: 1.3em;
;
font-family: 'Ubuntu', sans-serif;
}
.docs{
    font-weight: bold;
    margin-top: 3%;
    font-size: 1.3em;
  
    font-family: 'Ubuntu', sans-serif;
}
img{
    width:200px;
    height:300px;
    float:right;
    padding: 1%;
}

h5{
    margin-top:13px ;
    font-weight: bold;
}
.line{
border-bottom: 2px solid black;
}
.edge{
    border:2px solid black;
    padding:2px 5px 2px 5px;
    box-shadow: 2px 5px 9px #888888;
}
.rate{
    border-bottom: 4px solid grey;
    width:60%;
  
}
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.vestine {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */

}
a{
    color:#b38e65;
}
.m-3{
    color:  #896743;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 5px; /* Add top padding */
  padding-bottom: 5px; /* Add bottom padding */
  color: white; /* White text color */
}

.node {width: 70%; background-color :#DFCFBE;} /* Green */
.react {width: 67%; background-color:#DFCFBE;} /* Blue */
.js {width: 60%; background-color:#DFCFBE;} /* Green */
.css {width: 93%; background-color:#DFCFBE;} /* Red */
.mongodb {width: 77%; background-color:#DFCFBE;} /* Dark Grey */
.git {width: 75%; background-color:#DFCFBE;} /* Dark Grey */
.eng {width: 70%; background-color:#DFCFBE;} /* Dark Grey */